---
import type { Picture } from "astro:assets";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---

<style lang="scss">
  @use "bulma/sass/layout/hero";
  @use "bulma/sass/layout/container";
  @use "bulma/sass/elements/title";
  .cover-image {
    background:
      linear-gradient(0deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%),
      url("website/live-sess-cover-small.jpg") center/cover;
    text-align: center;
    font-weight: 700;
    h1,
    h2 {
      color: white;
    }
  }
</style>

<Layout>
  <Navbar slot="navbar" />
  <div class="hero is-medium cover-image">
    <div class="container hero-body">
      <h1 class="title">LIVE SESSIONS</h1>
      <h2 class="subtitle">Captation, Mixage, Mastering, Edition, Colorimétrie</h2>
    </div>
  </div>
  <section class="filled">
      <div class="container">
        <p>
      Le studio In the Pouchett est spécialisé dans la réalisation de Live Sessions.
      Nous proposons un service complet allant de la captation audio et vidéo à la
      post-production (mixage, mastering, édition et colorimétrie).<br />

      Vous serez accueillis dans un cadre chaleureux et intimiste, 
      propice à livrer votre meilleure performance.
        </p>
      </div>
  </section>
  <section class="pattern">
      <div class="container">
        <p>
      Le studio est modulaire pour s'adapter à chaque projet et chaque formation.<br />
      Nous pouvons accueillir des groupes jusqu'à 7 musiciens avec retours casques indépendants.
      De plus nous mettons à disposition tous le matériel et instruments dont nous disposons (cf. section "Le Matériel").
        </p>
      </div>
  </section>
   <h1 class="filled" id="formats">Formats</h1>
  <section class="filled">
    <div class="container">
      <p>
        Nous proposons plusieurs formats de Live Sessions : <br />
        <ul>
          <li>
            <strong>Format <i>Live in the Pouchett</i></strong> : Le format classique où l'on fait une captation live d'un morceau 
            avec possibilité de faire plusieurs prises pour sécuriser une prise de qualité, faire des plans d'inserts.
          </li>
          <li>
            <strong>Format <i>Concert in the Pouchett</i></strong> : Pour apporter l'énergie du vrai live, 
            on fait venir un petit public (une dizaine de personnes) et on fait une prise one-shot d'environ 20-25 minutes.
          </li>
          <li>
            <strong>Format C</strong> : Description du format C
          </li>
        </ul>
      </p>
    </div>
  </section>
  <div>

  </div>
</Layout>