---
import type { Picture } from "astro:assets";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Navbar slot="navbar" />

  <div>
    Hello World
  </div>
</Layout>