---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import { Picture } from "astro:assets";
import Clem from "../assets/clem.jpg";
import Louis from "../assets/louis_jaumaux.jpg";
---

<script>
  export const imgSize = window.innerWidth / 3;
</script>

<style>
  .people {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    & > p {
      margin: 0;
      flex: 1;
      /* text-align: justify; */
    }
  }

  .pattern > .people > p {
    /* background: rgba(255, 255, 255, 0.5); */
    /* text-align: justify; */
  }
</style>

<Layout>
  <Navbar slot="navbar" />

  <section class="filled">
    <div class="container">
      <p>
        In The Pouchett c'est avant tout deux amis musiciens et passionnés de musique Live
        qui décidèrent en 2023 de monter ce projet un peu fou : Transformer leur appartement parisien en studio
        d'enregistrement spécialisé dans les Live Sessions. 
        L'objectif est d'apporter leur patte aussi bien sonore que visuelle à à ce format déjà bien connu, 
        en mettant l'accent sur l'atmosphère chaleureuse du lieu et de penser l'espace pour la musique Live et l'image.
      </p>
    </div>
  </section>

  <section class="pattern">
    <h1>Clément Maniette</h1>
    <div class="container people">
      <Picture
        src={Clem}
        alt="Clement Maniette"
        widths={[250, 400]}
        sizes={"(max-width: 500px) 250px, 400px"}
        width={300}
      />

      <p>
        Clément est ingénieur du son, réalisateur artistique et
        multi-instrumentiste. Avec une formation en acoustique et en traitement
        du signal, il allie expertise technique et sensibilité artistique.
        Connaissant son matériel sur le bout des doigts, il s'engage à donner le
        meilleur de lui-même lors des prestations de prise de son, de mixage et
        de mastering.
      </p>
    </div>
  </section>

  <section class="filled">
    <h1>Louis Jaumaux</h1>
    <div class="people container">
      <p>
        Louis est pianiste de jazz et de hip-hop, diplômé du conservatoire. Sa
        sensibilité à l'esthétique contribue à l'ambiance du studio. En plus de
        ses performances musicales, il se spécialise dans la réalisation vidéo
        des Live Sessions, mettant en avant son talent et sa vision artistique.
      </p>
      <Picture
        src={Louis}
        alt="Louis Jaumaux"
        widths={[250, 400]}
        sizes={"(max-width: 500px) 250px, 400px"}
        width={300}
      />
    </div>
  </section>
</Layout>
