---

---

<style lang="scss">
  @use "bulma/sass/layout/footer" with (
    $footer-background-color: rgb(8, 15, 37)
  );
  @use "bulma/sass/layout/container";
  @use "bulma/sass/grid/columns";
  @use "bulma/sass/helpers/typography";
</style>

<footer class="footer">
  <div class="columns is-centered">
    <div class="column has-text-centered is-narrow">
      <a
        class="remove-clicked-color"
        href="https://www.youtube.com/@InthePouchett"
        target="_blank"
      >
        <i style="font-size: 4rem" class="fa-brands fa-youtube"></i>
      </a>
    </div>

    <div class="column has-text-centered is-narrow">
      <a
        class="remove-clicked-color"
        href="https://www.instagram.com/inthepouchett/"
        target="_blank"
      >
        <i style="font-size: 4rem" class="fa-brands fa-instagram"></i>
      </a>
    </div>
  </div>
</footer>
