---

---

<style>
  footer {
    background-color: rgb(8, 15, 37);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    a {
      text-decoration: none;
      color: white;
    }
  }
</style>

<footer>
  <a
    class="remove-clicked-color"
    href="https://www.youtube.com/@InthePouchett"
    target="_blank"
  >
    <i style="font-size: 4rem" class="fa-brands fa-youtube"></i>
  </a>

  <a
    class="remove-clicked-color"
    href="https://www.instagram.com/inthepouchett/"
    target="_blank"
  >
    <i style="font-size: 4rem" class="fa-brands fa-instagram"></i>
  </a>
</footer>
