---
---
<style>
  section {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--navbar-color);

    & > a {
      color: white;
      text-decoration: none;
    }

  }

</style>

  <section>
    <a
      class="remove-clicked-color"
      href="https://www.youtube.com/@InthePouchett"
      target="_blank"
      >
      <i style="font-size: 4rem" class="fa-brands fa-youtube"></i>
    </a>

    <a
      class="remove-clicked-color"
      href="https://www.instagram.com/clem_maniette/"
      target="_blank"
      >
      <i style="font-size: 4rem" class="fa-brands fa-instagram"></i>
    </a>

    <a
      class="remove-clicked-color"
      href="https://www.linkedin.com/in/clément-maniette/"
      target="_blank"
      >
      <i style="font-size: 4rem" class="fa-brands fa-linkedin"></i>
    </a>
  </section>

