---
interface Props {
  text: string
}
---

<div class="cover-image">{Astro.props.text}</div>
<style>

  .cover-image {
    height: 30dvh;
    background:
      linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%),
    url("/website/cover.jpg")
    center/cover;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
  }
</style>
