---
import { Image } from "astro:assets";
import logo from "../assets/logo.webp";
---

<script>
  const menu = document.querySelector<HTMLDivElement>(".navbar-menu");
  const burger = document.querySelector<HTMLDivElement>(".navbar-burger");
  burger?.addEventListener("click", (element) => {
    element.target?.classList?.toggle("is-active");
    menu?.classList.toggle("is-active");
  });
</script>

<style lang="scss">
  @use "bulma/sass/components/navbar" with (
    $navbar-background-color: rgb(8, 15, 37),
    $navbar-height: 4rem
  );
  @use "bulma/sass/elements/button";
</style>

<nav class="navbar" role="navigation" aria-label="main-navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/website">
      <Image width={40} src={logo} alt="Logo de In the Pouchett" />
    </a>
    <a class="navbar-item" href="/website">In The Pouchett</a>

    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="websiteNavbar"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="websiteNavbar" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" href="/website/live-sessions">Live Sessions</a>
      <a class="navbar-item" href="#materiel">Le Matériel</a>
      <a class="navbar-item" href="#reference">Références</a>
      <a class="navbar-item" class="reset-link-style">Le Studio</a>

      <a class="navbar-item" href="/website/qui-sommes-nous"
        >Qui sommes-nous ?
      </a>

      <div class="navbar-item">
        <a class="button is-info" href="mailto:inthepouchett.studio@gmail.com">
          <i class="fa-solid fa-envelope"></i>
          Contact
        </a>
      </div>
    </div>
  </div>
</nav>
