---
---

<style>

  .author-name {
    font-size: 2rem;
    color: white;
  }

  .navbar {
    position: sticky;
    top: 0;
    padding: 0rem 1rem;
    display: flex;
    background-color: var(--navbar-color);
    height: 5rem;
    align-items: center;
    justify-content: space-between;
  }

  .contact {
    font-size: 1.2rem;
    color: white;
    text-decoration: underline;
  }

  .reset-link-style {
    color: unset;
    text-decoration: none;
  }

</style>

<nav class="navbar">
  <div class="author-name">
    <a href="" class="reset-link-style"> Clément Maniette </a>
  </div>

  <div class="contact">
    <a
      class="reset-link-style"
      href="mailto:clementmaniette.sound@gmail.com"
    >
      <i class="fa-solid fa-envelope"></i>
      Contact
    </a>
  </div>
</nav>
