---
import Contact from "../components/Contact.astro";
import Navbar from "../components/Navbar.astro";

---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
    rel="stylesheet"
    />

    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />


    <title>In the Pouchette</title>
  </head>
  <body>
    <Navbar />
    <div>
      <slot />
    </div>
      <Contact />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
  }

  :root {
    --navbar-color: black;
  }

  body > div {
    display: grid;
    grid-template-columns: [full-width-start] 2rem [content-start] 1fr [content-end] 2rem [full-width-end];
    height: 100%;

    & > * {
      grid-column: content;
    }
  }

  .full-width {
    grid-column: full-width;
  }
</style>
