---
import Contact from "../components/Contact.astro";
---

<!doctype html>
<html lang="en" class="has-navbar-fixed-top">
  <head>
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <title>In the Pouchett</title>
  </head>
  <body>
    <slot name="navbar" />
    <div>
      <slot />
    </div>
    <Contact />
  </body>
</html>

<style is:global lang="scss">
  @use "bulma/sass/base";
  @use "bulma/sass/themes";
  @use "../styles/pattern.scss";

  html,
  body {
    margin: 0;
    font-family: "Open Sans";
    width: 100%;
  }

  :root {
    --navbar-color: black;
  }

  // ...le style .pattern est maintenant dans pattern.scss...

  .filled {
    background-color: rgb(8, 15, 37);
    color: white;
    grid-column: full-width;
    padding: 2rem;
  }

  h1 {
    text-transform: uppercase;
    &,
    .filled {
      text-align: center;
      vertical-align: middle;
    }
  }

  section {
    display: grid;
    grid-template-columns:
      minmax(1rem, 1fr)
      minmax(20rem, 3fr)
      minmax(1rem, 1fr);
    & > * {
      font-size: 1.7rem;
      grid-column: 2;
    }
  }

  footer {
    bottom: 0;
    width: 100%;
  }
</style>
